/* Estilos existentes */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url('../Multimedia/imagen_login.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen */
    height: 100vh;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Fondo sombreado */
    z-index: 1;
}

body * {
    position: relative;
    z-index: 2;
}

.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    padding: 20px;
}

.formulario h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid rgb(255, 255, 255);
    color: #ffffff;
}

.formulario form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .username {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.username input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: #ffffff;
}

.username label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #ffffff;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.username input:focus ~ label,
.username input:valid ~ label {
    top: -5px;
    color: rgb(209, 76, 76);
}

.recordar {
    margin: -5px 0 20px 5px;
    color: #ffffff;
    cursor: pointer;
}

.recordar:hover {
    text-decoration: none;
    color: #adadad;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: rgb(214, 11, 11);
    border-radius: 10px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: rgb(230, 52, 52);
    transition: .5s;
    color: black;
}

.registrarse {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;
}

.registrarse a {
    color: blue;
    text-decoration: none;
}

.registrarse a:hover {
    text-decoration: underline;
    color: rgb(53, 53, 228);
}

p {
    color: #ffffff;
}

.input {
    display: flex;
    align-items: center;
    margin: 20px 0; 
}

.input input[type="checkbox"] {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.input p {
    margin: 0;
    margin-left: 8px; 
    vertical-align: middle;
}
