@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: rgb(133, 133, 133);
}

.footer {
    position: relative;
    background-image: url('../Multimedia/imagen_login.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    color: #ffffffe5;
    text-shadow: 0.5px 0.5px 0.5px rgba(255, 0, 0, 0.356);
}

.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Fondo sombreado */
    z-index: 1;
}

.footer * {
    position: relative;
    z-index: 2;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    width: 150px; /* Ajusta el tamaño de la imagen según sea necesario */
}

.idiomas {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre los elementos */
}

.button {
    background-color: #e50914;
    color: white;
    border: 2px solid #db0812e8;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s;
}

.button:hover {
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.74);
}

h1, h2,p {
    text-align: center;
    gap: 5px;
}

h1 {
    font-size: 2.5rem;
    margin-top: 50px;
}

h2 {
    font-size: 1.5rem;
    margin-top: 20px;
}

.formulario {
    background: rgba(0, 0, 0, 0.7);
    padding: 100px;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 10px;
}

.username {
    position: relative;
    margin-bottom: 30px;
    height: 90%;
}

.username input {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 1rem;
    outline: none;
}

.username label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    pointer-events: none;
    transition: all 0.3s ease;
}

.username input:focus ~ label,
.username input:not(:placeholder-shown) ~ label {
    top: -20px;
    left: 10px;
    font-size: 0.8rem;
    color: #d1d1d1;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: rgb(214, 11, 11);
    border-radius: 10px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: rgb(230, 52, 52);
    transition: .5s;
    color: black;
}

.informacion {
    background-color: black;
    display: grid;
    color: rgb(133, 133, 133);
    gap: 20px;
    margin: 20px 0;
    font-size: 15px;
    padding: 20px;
}

@media (min-width: 400px) {
    .informacion {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .informacion {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.informacion p:hover {
    color: white;
}

.username input:focus ~ label,
.username input:valid ~ label {
    top: -5px;
    color: rgb(209, 76, 76);
}